.img{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH23cfMP_R3EehA2Q5bSLsrEsYhtU5QYajfw&usqp=CAU");
    height:88vh;
    width:90vw;
    background-repeat: no-repeat;
    background-size: cover;
  }